<h4 class="text-center p-3 my-4 text-primary border-bottom border-primary border-2" style="font-weight: 600"> Liste des
    comptes à créer
</h4>
<!-- <div class="row">
    <div class="col-sm-12 alert alert-success" *ngIf="userValidateDoc">
        <button type="button" class="close" data-dismiss="alert">x</button>
        Requête traitée avec success!
    </div>
</div> -->

<div class="row">
    <div class="col-12 col-sm-12">
        <div class="accordion" id="accordionExample1">
            <div *ngFor="let user of usersToCreateCompte;let i=index">
                <div class="card" *ngIf="user?.etatDossier===true">
                    <div class="card-header" id="heading{{i}}" style="background-color:#4493D2">
                        <h5 class="mb-0">
                            <a class="text-white" data-toggle="collapse" href="#collapseOne{{i}}">
                                {{user.prenom }} {{user.nom}}
                            </a>
                        </h5>
                    </div>
                </div>
                <div id="collapseOne{{i}}" class="collapse" data-parent="#accordionExample1">
                    <div class="card-body bg-light border border-primary border-1 ">
                        <div class="row">
                            <div class="col-12 col-sm-6 ">
                                <div class="p-2">
                                    <h6 class="mb-0 text-primary font-weight-bold">Identité:</h6>
                                    {{user.genre}} {{user.prenom}} {{user.nom}}
                                </div>
                                <div class="p-2">
                                    <h6 class="mb-0 text-primary font-weight-bold">Profession:</h6>
                                    {{user.situationPro}}
                                </div>
                                <div class="p-2">
                                    <h6 class="mb-0 text-primary font-weight-bold">Date de Naissance:</h6>
                                    {{user.dateNaissance}}
                                </div>
                                <div class="p-2">
                                    <h6 class="mb-0 text-primary font-weight-bold">Lieu de Naissance:</h6>
                                    {{user.lieuNaissance}}
                                </div>
                                <div class="p-2">
                                    <h6 class="mb-0 text-primary font-weight-bold">Nationalité:</h6>
                                    {{user.nationalite}}
                                </div>
                                <div class="p-2">
                                    <h6 class="mb-0 text-primary font-weight-bold">Adresse:</h6>
                                    {{user.adresse}}
                                </div>
                                <div class="p-2">
                                    <h6 class="mb-0 text-primary font-weight-bold">Pays:</h6>
                                    {{user.pays}}
                                </div>
                                <div class="p-2">
                                    <h6 class="mb-0 text-primary font-weight-bold">Ville:</h6>
                                    {{user.ville}}
                                </div>
                                <div class="p-2">
                                    <h6 class="mb-0 text-primary font-weight-bold">Région:</h6>
                                    {{user.region}}
                                </div>
                                <div class="p-2">
                                    <h6 class="mb-0 text-primary font-weight-bold">Email:</h6>
                                    {{user.login}}
                                </div>
                                <div class="p-2">
                                    <h6 class="mb-0 text-primary font-weight-bold">Téléphone:</h6>
                                    {{user.telephone}}
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <form>
                                    <div class="row">
                                        <div class="col-12 col-sm-8">
                                            <h5>Photo</h5>
                                            <a href="#modalPhoto{{i}}" data-toggle="modal">
                                                <img class=" img-fluid rounded w-50 h-50"
                                                    src="{{fileRemoteSrc}}{{user.photo}}">
                                            </a>
                                            <div class="modal" id="modalPhoto{{i}}" data-keyboard="false">
                                                <div class="modal-dialog ">
                                                    <div class="modal-content  ">
                                                        <div class="modal-body p-0">
                                                            <img src="{{fileRemoteSrc}}{{user.photo}}">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-8">
                                            <h5>Carte d'identité Nationale</h5>

                                            <a href="#modalCni{{i}}" data-toggle="modal">
                                                <img class="img-fluid rounded w-50 h-50"
                                                    src="{{fileRemoteSrc}}{{user.cni}}">
                                            </a>

                                            <div class="modal" id="modalCni{{i}}" data-keyboard="false">
                                                <div class="modal-dialog ">
                                                    <div class="modal-content  ">
                                                        <div class="modal-body p-0">
                                                            <img src="{{fileRemoteSrc}}{{user.cni}}">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-8">
                                            <h5>Justificatif d'adresse</h5>
                                            <a href="#modalFacture{{i}}" data-toggle="modal">
                                                <img class="img-fluid rounded w-50 h-50"
                                                    src="{{fileRemoteSrc}}{{user.facture}}">
                                            </a>

                                            <div class="modal" id="modalFacture{{i}}" data-keyboard="false">
                                                <div class="modal-dialog ">
                                                    <div class="modal-content">
                                                        <div class="modal-body p-0">
                                                            <img src="{{fileRemoteSrc}}{{user.facture}}">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <!-- <div class="col-sm-12 alert alert-success" *ngIf="userValidateDoc">
                                            <button type="button" class="close" data-dismiss="alert">x</button>
                                            Requête traitée avec success!
                                        </div> -->

                                        <!-- <div class="col-12 col-sm-6 form-group">
                                            <label for="myComment "
                                                class="text-primary font-weight-bold">Commentaire</label>
                                            <textarea id="myComment" name="commentaire" [(ngModel)]="form.commentaire"
                                                class="form-control" rows="3"></textarea>
                                        </div> -->
                                        <div class="col-12 col-sm-6">
                                            <button class=" mt-5 btn btn-primary" (click)="CreateCompte(user._id)"
                                                style="background-color: #294070">
                                                Créer Compte</button>
                                        </div>
                                    </div>
                                    <div class="row my-2">
                                        <div class="col-sm-6 alert alert-success" *ngIf="userValidCompte">
                                            <button type="button" class="close" data-dismiss="alert">x</button>
                                            Compte épargne créé avec success!
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>