<div class="row p-4">
    <div class="col-12 col-sm-12 col-md-12 col-xl-12">
        <ul class="nav nav-tabs " style="font-weight: 600;font-size:20px" id="myTab">
            <li class="nav-item">
                <a class="nav-link active" id="tab-javascript" data-toggle="tab" href="#content-javascript">
                    Validation Document
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab-css" (click)="getUsers()" data-toggle="tab" href="#content-css">
                    Création Compte
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " id="tab-bootstrap" data-toggle="tab" href="#content-bootstrap">
                    Paramètrage
                </a>
            </li>

        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="content-javascript">
                <!-- <app-form-ouverture-compte></app-form-ouverture-compte> -->
                <app-list-demande [usersToValidDemande]="allUsers">
                </app-list-demande>

            </div>
            <div class="tab-pane fade" id="content-css">
                <app-valider-compte [usersToCreateCompte]="allUsers"></app-valider-compte>
            </div>
            <div class="tab-pane fade " id="content-bootstrap">
                Bootstrap is a free front-end framework for faster and easier web development...
            </div>
        </div>
    </div>
</div>